
{% extends "base.html" %}

{% block title %} <h1> Product </h1><h2> List </h2> {% endblock %}

{% block heading %} 
<h1> Product</h1>
{% endblock %}
{% block content %} 
<div class="container">
<div class="page-header">
	<h2>List</h2>
</div>
</div>

{% for item in list_items.object_list %}
  <div class="row" style="padding-top:10">
  	<div class="span3 media-grid">
  		<a href="#">
  			<img class="thumbnail" src="{{item.image_url}}" alt="heh">
  		</a>
  	</div>
  	<div class="span-two-thirds">
  		<h4>{{item.title}}</h4>{{item.description}}
  	</div>
  	<div class="span2" style="align:right">
  		<p><a class="btn primary" href="{%url depotapp.views.view_product item.id%}">Look</a></p>
  		<p><a class="btn danger" href="#">Del</a></p>
    </div>
  </div>
{% endfor %}
{%if list_items.has_previous%}
<a href="?page={{list_item.previous_page_number}}">Previous</a>
{%endif%}
<span class="current">
	di{{list_items.number}}ye,gong{{list_items.paginator.num_pages}}ye
</span>
{%if list_items.has_next%}
<a href="?page={{list_item.next_page_number}}">Next</a>
{%endif%}
<p>
	<a href="{%url depotapp.views.create_product%}">Add</a>
</p>
<!--
<tr><td colspan="3"> <a href="{% url depotapp.views.create_product %}">Add New</a></td></tr>
</table>

<div align="center">
{% if list_items.has_previous %}
    <a href="?page={{ list_items.previous_page_number }}">Previous</a>
{% endif %}

<span class="current">
    Page {{ list_items.number }} of {{ list_items.paginator.num_pages }}.
</span>

{% if list_items.has_next %}
        <a href="?page={{ list_items.next_page_number }}">Next</a>
{% endif %}

</div>
-->
{% endblock %}